@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

.app {
  font-family: "Inter";
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
}